.button {
  border: 0;
  background-color: transparent;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: var(--color-secondary);
  color: var(--full-white);
}

.button:hover {
  background-color: var(--color-secondary-light);
  transition: background-color 300ms ease-in;
}

.nav-link {
  color: var(--foreground-header);
}

.nav-link:hover {
  color: var(--foreground-header-light);
  transition: color 200ms linear;
}

.container {
  max-width: min(90%, 120rem);
  margin: 0 auto;
}

.margin-b {
  margin-bottom: 1rem;
}
.margin-b3 {
  margin-bottom: 3rem;
}
.txt-center {
  text-align: center;
}